.dropdown-menu {
  display: none;
  z-index: 100;
}
.dropdown-menu__btn {
  background-color: #F4F7FB;
  width: 40px;
  height: 30px;
}
.dropdown-menu__btn-item {
  position: relative;
}
.dropdown-menu__btn-item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: 2px;
  background: #313B59;
  border-radius: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-menu__btn-item::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: 28px;
  background: #313B59;
  border-radius: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-menu__btn-item span {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: 15px;
  background: #313B59;
  border-radius: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-menu__btn-item.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
  background-color: #F47A0B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-menu__btn-item.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 14px;
  background-color: #F47A0B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-menu__btn-item.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.dropdown-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F4F7FB;
  position: fixed;
  top: -200%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  width: 720px;
  height: 100%;
  padding-top: 56px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
}
.dropdown-menu__wrapper.active {
  left: 0;
  top: 70px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.dropdown-menu__logo {
  margin-right: 30px;
  width: 122px;
  height: 122px;
}
.dropdown-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  margin-right: 30px;
  margin-bottom: 20px;
}
.dropdown-menu__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 145%;
  color: #313B59;
}
.dropdown-menu__list-item:hover {
  cursor: pointer;
  color: #F47A0B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 1280px) {
  .dropdown-menu__btn {
    width: 78px;
  }
}
@media screen and (max-width: 768px) {
  .dropdown-menu {
    display: block;
  }
}
@media screen and (max-height: 912px) {
  .dropdown-menu {
    display: block;
  }
}