.services__container {
  padding-top: 89px;
  margin: 0 auto;
  max-width: 1280px;
}
.services__intro {
  max-width: 246px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.services__intro-text {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #313B59;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services__intro-text:hover {
  color: #E27410;
}
.services__intro-icon {
  width: 40px;
  height: 40px;
}
.services__list {
  padding-top: 48px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 260px;
  grid-template-rows: 260px;
      grid-template-areas: "card-1 card-2 card-3" "card-1 card-4 card-5";
  row-gap: 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 144px;
}
.services__card {
  background: -webkit-gradient(linear, left top, right top, from(#014C88), color-stop(48.84%, #015DA0), color-stop(103.05%, #026AB3));
  background: linear-gradient(90deg, #014C88 0%, #015DA0 48.84%, #026AB3 103.05%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  margin: 0;
  height: 100%;
  padding: 40px 32px 32px 32px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services__card:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: card-1;
  height: 560px;
}
.services__card:nth-child(1)::after {
  bottom: 0;
  left: 0;
  content: "";
  width: 300px;
  height: 300px;
  background: url("../img/service1.svg") no-repeat;
  position: absolute;
  z-index: 9;
}
.services__card:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card-2;
}
.services__card:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: card-3;
}
.services__card:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: card-4;
}
.services__card:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: card-5;
}
.services__card::after {
  bottom: 0;
  left: 0;
  content: "";
  width: 100px;
  height: 95px;
  background: url("../img/service25.svg") no-repeat;
  position: absolute;
  z-index: 9;
}
.services__card:hover {
  background: #F47A0B;
  -webkit-box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
          box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
  -webkit-transform: translate(0px, -16px);
          transform: translate(0px, -16px);
}
.services__card:hover svg {
  opacity: 0;
}
.services__card-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.services__card-title {
  max-width: 332px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.services__card-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19.4px;
}
.services__card-more-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 145%;
  text-decoration-line: underline;
  color: #FFFFFF;
}