* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@import "dropdown-menu";
@import "header";
@import "menu";
@import "banner";
@import "services";
@import "procedure";
@import "information";
@import "footer";